@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$primary-colour: #313831;
$secondary-colour: #3c453c;
$accent-colour: #dfdfdf;

/* App layout */
body {
    background-color: $primary-colour;
    color: $accent-colour;
    font-family: "Ubuntu", sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;

    a {
        color: $accent-colour;
        text-decoration: none;
        padding: 1ex;
    }
    span {
        vertical-align: sub;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#app-messages {
    background-color: $secondary-colour;

    margin: auto;

    width: 75%;

    #content {
        padding: 0.5em;
    }
}

#content-area {
    background-color: $secondary-colour;

    margin: auto;
    margin-top: 1em;

    width: 75%;
    min-height: 90vh;

    #content {
        padding: 2em;
    }

    #desc {
        padding-left: 5ex;
        padding-bottom: 5ex;
    }
}

#footer {
    text-align: center;
    padding: 0.5em;
}

/* Global components */
.searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 5ex;

    input {
        height: 2.7rem;

        padding-left: 2.5rem;
        border: none;

        box-sizing: border-box;
        -moz-box-sizing: border-box;

        background-color: $primary-colour;
        color: $accent-colour;
    }

    input:focus {
        outline: none;
    }

    button {
        height: 2.7rem;

        padding-left: 1rem;
        padding-right: 1rem;
        border: none;

        color: $accent-colour;
        background-color: $primary-colour;
    }

    .icon-magnify {
        position: absolute;
        left: 1rem;

        width: 1rem;
        height: 1rem;

        fill: $accent-colour;

        pointer-events: none;
    }

    .fluid {
        width: 100%;
    }
}

.articleInput {
    input {
        height: 2.7rem;

        padding-left: 2.5rem;
        border: none;

        box-sizing: border-box;
        -moz-box-sizing: border-box;

        background-color: $primary-colour;
        color: $accent-colour;
    }

    textarea {
        padding-left: 2.5rem;
        border: none;

        box-sizing: border-box;
        -moz-box-sizing: border-box;

        background-color: $primary-colour;
        color: $accent-colour;
    }

    textarea:focus, input:focus {
        outline: none;
    }

    button {
        float: right;
        height: 2.7rem;

        padding-left: 1rem;
        padding-right: 1rem;
        border: none;

        color: $accent-colour;
        background-color: $primary-colour;
    }

    .fluid {
        width: 100%;
    }
}

/* List */
.articleList {
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    padding-top: 1em;

    a {
        color: $accent-colour;
        text-decoration: none;
    }

    .title {
        font-size: 2em;
        font-weight: bold;
    }

    .body {
        padding-left: 1em;
    }

    .tags {
        text-align: right;
    }
}

.tags {
    line-height: 2em;
    a {
        color: $accent-colour;
        text-decoration: none;
    }
    i {
        vertical-align: sub;
    }
}
