form(role='form' method='GET' action='/article')
  div
    label(for="title") Title:
    input(type="text" placeholder="Title" name="title")
    br
    label(for="tags") Tags:
    input(type="text" placeholder="Tags" name="tags")
    button(type="submit") Submit
  hr
