div#navbar
    div
        a(href='/') logo Wlog
        span.icon-alert-circle(style="color: violet")
    div
        a(href='/') Home
        a(href=routes.articleList()) Articles
        a(href='/tags') Tags
        a(href='/rss') RSS
        a(href=routes.articleNew()) Create

    div
        a(href='/')
            span.icon-user(style="color: violet")
        a(href='/') Userzim
        a(href='/')
            span.icon-logout(style="color: violet")
hr
